
@model minhas_contas.Models.Account
<div class="form-horizontal">
    <form action="Pagar" method="POST">
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden"
                    name="id"
                    value="@Model.id"/>
        </div>
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="dataLeitura"
                    value="@Model.dataLeitura"/>
        </div>
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="numLeitura"
                    value="@Model.numLeitura"/>
        </div>
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="KwGasto"
                    value="@Model.KwGasto"/>
        </div>
                <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="valorPagar"
                    value="@Model.valorPagar"/>
        </div>
        <div class="form-group">
            <label>Data Pagamento</label>
            <input class="form-control"
                type="text" 
                name="dataPagto"
                value="@Model.dataPagto"/>
        </div>
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="mediaConsumo"
                    value="@Model.mediaConsumo"/>
        </div>
        <input class="btn btn-success"
                type="submit" value="Salvar"/>
    </form>
</div> 